@import "_vars";
@import "_fonts";
@import "_header";
@import "_content";
@import "_sidebar";
@import "_footer";
@import "_company-list";
@import "_company";
@import "_news";
@import "_object-list";
@import "_object";
@import "_mediaqueries";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  font-family: "Roboto-Regular", sans-serif;
}

.separate-section {
  margin-bottom: 15px;
}

.breadcrumb {
  padding: 0;
  margin: 0;
  background: none;
  font-size: 0;
  line-height: 1;
  > li:last-child:before {
    padding: 0;
    content: '//';
  }
}

#expanded li:nth-last-child(2):before {
  padding: 0;
  content: '//';
}

.breadcrumb-item {
  font-size: 10px;
}

#breadcrumb-item__active {
  color: @main-green-color;
}

.breadcrumb-link {
  color: #888888;
  &:hover {
    color: #777777;
    font-weight: bold;
  }
}